dl {    
    margin-left: 20px;
}       
        
dd {    
    margin-left: 160px;
    margin-bottom: 20px;
    margin-top: -16px;
}
dt {    
    clear: both;
    font: normal 18px  "Poly", Georgia, serif;
}       
        
.post li {
    list-style-type: square;
  

.singlecolumn {
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}

.box {
    background-color: white;
    padding: .25em;
    margin: 20px;
    /* border:1px dashed #dfdfdf; */
}

.box h1, .box h2, .box h3 {
    margin-top:0px;
    color:#2254A4;
    margin-bottom: 1em;
    font-weight: normal;
}
.box h1 { font-size: 200%; }
.box h2 { font-size: 125%; }
.box h3 { font-size: 100%; }

.columns {
    width: 950px;
    display: block;
    margin: 0 auto;
    padding: 1em;
}

.post {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-variant-ligatures: common-ligatures;
    color: black;
}

.post-list {
    list-style-type: none;
}

.title {
    display: none;
}

.class {
    font-variant: small-caps;
}

.scrolling-columns {
    width: 100%;
    display: block;
    margin: 0;

    padding: 0;
    position: absolute;
    top: 80px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

